/* :root {
  --butn-background-color: #c3def3;
  --butn-before-color: #ecf4fa;
} */


.theme-light {
    --box-shadow: 0px 0px 5px 0px rgba(79, 79, 79, 0.26), 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.theme-dark {
    --butn-background-color: #4a4c4f;
    --butn-before-color: #191919;
    --box-shadow: 0px 0px 5px 0px rgba(101, 101, 101, 0.26), 0px 0px 5px 0px rgba(41, 41, 41, 0.1);
}

.TabsCodeBlock-tabs:nth-child(odd) {
    border-radius: 15px 15px 0px 0px;
    /* background-color: var(--butn-before-color); */
    box-shadow: var(--box-shadow);
}

.TabsCodeBlock.TabsCodeBlock-buns {
    background-color: var(--ribbon-background);
    border-radius: 15px 15px 0px 0px;

}


button.TabsCodeBlock-tabs-buttonName {
    background-color: var(--ribbon-background);
    width: auto;
    height: auto;
    font-size: 1em;
    border-radius: 15px 15px 0px 0px;
    box-shadow: none;


}



button.TabsCodeBlock-tabs-buttonName.active {
    width: auto;
    height: auto;
    border-radius: 15px 15px 0px 0px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.17),  0 2px 3px 0 rgba(0,0,0,.1),  0 1px 1.5px 0 rgba(0,0,0,.03),  0 1px 2px 0 rgba(0,0,0,.04),  0 0 0 0 transparent;
    background-color: var(--tab-container-background);
}

.internal-embed.markdown-embed.inline-embed.is-loaded {
    padding: 0px;
    border: 0px;
}

.block-language-tabs:nth-child(even) {
    border-radius: 15px 15px 0px 0px;
    box-shadow: var(--box-shadow);
}


/*四象限 fourQuadrant*/
.fourQuadrant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.fourQuadrant .fourQuadrant-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fourQuadrant-pages {
    width: 49.5%;
}
.fourQuadrant-pages:nth-child(1) {
    margin-right: 1px;
}
.fourQuadrant-pages:nth-child(2) {
    margin-left: 1px;
}
body.is-phone .fourQuadrant-pages {
    width: 100%;
}


/* 
.fourQuadrant-pages {
    margin: 1px;
    padding-left: 0.5em;
}

.fourQuadrant-pages:nth-child(4n+1) {
    border-radius: 18px 18px 0px 18px;
}

.fourQuadrant-pages:nth-child(4n+2) {
    border-radius: 18px 18px 18px 0px;
}

.fourQuadrant-pages:nth-child(4n+3) {
    border-radius: 18px 0px 18px 18px;
}

.fourQuadrant-pages:nth-child(4n) {
    border-radius: 0px 18px 18px 18px;
}

.fourQuadrant .fourQuadrant-pages h1,
.fourQuadrant .fourQuadrant-pages h2,
.fourQuadrant .fourQuadrant-pages h3,
.fourQuadrant .fourQuadrant-pages h4,
.fourQuadrant .fourQuadrant-pages h5,
.fourQuadrant .fourQuadrant-pages h6 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
 */

.elm-a {
    font-size: 12px;
}

.elm-pres {
    padding: 10px;
    font-size: 0.7em;
    border: 1px solid #000000;
    color: #ff0000;
}

.block-language-minitabs {
    margin: 0px 0px 0px 0px;
}
